  body{
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-columns: 20% 26.6666666666666666% 26.6666666666666666% 26.6666666666666666%;
    grid-template-rows: 10% 20%  70% ;
    grid-template-areas: "aside nav nav nav" "aside comptionDetail comptionDetail comptionDetail"
                         "aside competitionDetails competitionDetails competitionDetails";  
  }
  
  .probe{

    grid-area: comptionDetail;

  }
  .table{

    grid-area:competitionDetails ;

  }