*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}



:root {
  --firstColor: #ffffff;
  --sacendcolor: #f9fafb;
  --threecolor: #7e3af2;
  --fontcolor: #24262d;
  }

body{
  margin: 0;
  display: grid;
  height: 100vh;
  grid-template-columns: 20% calc(80%/3) calc(80%/3) calc(80%/3);
  grid-template-rows: 10% 10% 80%;
  grid-template-areas: "aside nav nav nav" "aside das1 das1 das1" "aside table table table";
  font-family: 'Montserrat', sans-serif !important;  
  background-color: var(--sacendcolor);
  position: relative;
}

.navBar{
    box-shadow: 0 1px 0px 0 rgb(0 0 0 / 7%), 0 4px 0px 0 rgb(0 0 0 / 3%);
    grid-area: nav;
    background: var(--firstColor);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.my-logo{

  margin-top: 0;
}

.my-icon{
  display: flex; 
  align-items: center;
  width: 100px;
  justify-content: space-evenly;
  
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.SearchContestant{
  height: 35px;
  width: 570px;
  background: var(--sacendcolor);
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.SearchContestant input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 15px 20px;
  font-size: 15px;
  color: var(--fontcolor);
  height: 100%;
 
}
 ::placeholder {
   color: var(--fontcolor);
 }
 .SearchContestant button  {
   border: 0;
   border-radius: 50%;
   background: var(--sacendcolor);
   cursor: pointer;
   height: 23px;
   width: 21px;
   
 }

/* aside */


aside{

    font-family: serif !important;
    grid-area: aside;
    color: var(--fontcolor);
    background: var(--firstColor)!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.pages{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
}
.pages span{
  margin-bottom: 12px;
  /* margin-left: 20px; */
}
.pages img {
  margin-left: 26px;
}

.hoverEvent:hover{
  cursor: pointer;
}

.hoverEventNorml:hover{
  cursor: context-menu;
}


.pageDashboard{
  display: flex;
  justify-content: space-evenly;
  
}
.pageUserManagment{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 21px 0;
}
.pageCompetition{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.pageDashboard span .material-icons {
  font-size: 16px;
}
.pageUserManagment span .material-icons {
  font-size: 12px;
}
.pagepageCompetition span .material-icons {
  font-size: 12px;
  color: var(--sacendcolor);
}


  /* main */



  /* title */

.title{

  grid-area: das1;
  padding: 20px;
  font-family: 'Arimo', sans-serif !important;
  display: flex;
  justify-content: space-between;
  
}

.title  button{

  border: 0;
  border-radius: 5px;
  padding: 5px;
  width: 80px;
  height: 39px;
  background-color: var(--threecolor);
  color: var(--firstColor);
}

.CompetitionButton{

  width: 137px !important;

}

/* table */



.table{
  grid-area: table;
  padding: 10px;
}
table{
  margin: 5px;
  border-collapse: collapse;
  width: 100%;
  border-radius: 7px 7px 0 0;
  overflow: clip;
  border: 0.25px solid darkgray;
}
thead{
  background-color: var(--threecolor);
  height: 33px;
  color: var(--firstColor);
}
tbody{
  height: 93px;
  color: var(--fontcolor);
}
thead ,tbody{
  vertical-align: middle;
}
th, td {
  padding: 5px;
  text-align: left;
  /* color: var(--fontcolor); */
  
}
.rowWidth{

  width: 30px;

}
a{

  color: var(--fontcolor);
  text-decoration: none;

}
